root = true

[*]
indent_space = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
curly_bracet_next_line = true
spaces_around_operators = true
[*.{js,ts,jsx,tsx}]
quote_type = single

[*.md]
trim_ttailing_whitespace = false